In [2]:
import pandas as pd

In [33]:
years = [10,11,12,13,14,15,16,17,18,19,20]

datasets = {}

#format all columns in a standard year, col
for year in years:
    df = pd.read_csv(f'./processed_data/{year}.csv')
    df = df.rename(str.lower, axis='columns')
    
    year_str = str(year)
    renameCols = {}
    for key in ["BldgClass","LotArea","BldgArea","HistDist","Landmark","OwnerName"]:
        renameCols[key.lower()] = f'{year_str}_{key.lower()}'
    df = df.rename(columns = renameCols)
    
    datasets[year] = df

In [34]:
datasets[20].tail()

,bbl,20_bldgclass,20_lotarea,20_bldgarea,20_histdist,20_landmark,20_ownername
42872,1016320001,D1,50457.0,124100.0,NaN,NaN,NYC HOUSING AUTHORITY
42873,1016230042,C0,1926.0,3864.0,NaN,NaN,ANTONIA MOCZO
42874,1018850048,C5,2018.0,5800.0,NaN,NaN,TRUSTEES OF COLUMBIA UNIVERSITY
42875,1020230046,C0,2107.0,3705.0,St. Nicholas Historic District,NaN,"MARIUS, CHERYL"
42876,1020590008,A9,1848.0,4192.0,Hamilton Heights Historic District,NaN,"HRDY, CATHERINE BELKNAP"

In [35]:
merged = None
for i, year in enumerate(years):
    if i == 0:
        merged = datasets[year] #init
    else:
        merged = pd.merge(merged, datasets[year], on = "bbl")

In [36]:
merged

,bbl,10_bldgclass,10_lotarea,10_bldgarea,10_histdist,10_landmark,10_ownername,11_bldgclass,11_lotarea,11_bldgarea,...,19_bldgarea,19_histdist,19_landmark,19_ownername,20_bldgclass,20_lotarea,20_bldgarea,20_histdist,20_landmark,20_ownername
0,1000010010,Y4,7736692.0,2725731.0,Governors Island,GOVERNORS ISLAND VARIOUS SITES,GOVERNORS ISLAND CORP,Y4,7736692.0,2725731.0,...,2725731.0,Governors Island Historic District,INDIVIDUAL LANDMARK,GOVERNORS ISLAND CORPORATION,Y4,7736692.0,2725731.0,Governors Island Historic District,INDIVIDUAL LANDMARK,GOVERNORS ISLAND CORPORATION
1,1000010101,P7,541886.0,541886.0,,,U S GOVT LAND & BLDGS,P7,541886.0,541886.0,...,541886.0,NaN,INDIVIDUAL LANDMARK,U S GOVT LAND & BLDGS,P7,541886.0,541886.0,NaN,INDIVIDUAL LANDMARK,U S GOVT LAND & BLDGS
2,1000010201,Z9,2764190.0,603130.0,Ellis Island,STATUE OF LIBERTY,U S GOVT LAND & BLDGS,Z9,2764190.0,603130.0,...,603130.0,Ellis Island Historic District,INTERIOR LANDMARK,U S GOVT LAND & BLDGS,Z9,2764190.0,603130.0,Ellis Island Historic District,INTERIOR LANDMARK,U S GOVT LAND & BLDGS
3,1000020001,Y7,445250.0,445250.0,,WHITEHALL FERRY TERMINAL,DEPT OF GENERAL SERVI,Y7,445250.0,445250.0,...,280000.0,NaN,NaN,NYC DEPARTMENT OF SMALL BUSINESS SERVICES,Y7,209215.0,280000.0,NaN,NaN,NYC DEPARTMENT OF SMALL BUSINESS SERVICES
4,1000020023,T2,510025.0,24346.0,,,DEPARTMENT OF BUSINES,T2,510025.0,24346.0,...,24346.0,NaN,NaN,NYC DEPARTMENT OF SMALL BUSINESS SERVICES,T2,510025.0,24346.0,NaN,NaN,NYC DEPARTMENT OF SMALL BUSINESS SERVICES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41783,1022500086,C1,5000.0,20535.0,,,240 SEAMAN AVENUE LLC,C1,5000.0,20535.0,...,20535.0,NaN,NaN,240 SEAMAN AVENUE LLC,C1,5000.0,20535.0,NaN,NaN,240 SEAMAN AVENUE LLC
41784,1022500158,G7,6450.0,0.0,,,600 WEST 218TH STREET,G7,6450.0,0.0,...,0.0,NaN,NaN,"600 WEST 218TH STREET ASSOCIATES, L.L.C.",G7,6450.0,0.0,NaN,NaN,"600 WEST 218TH STREET ASSOCIATES, L.L.C."
41785,1022550001,Q1,448200.0,0.0,,,PARKS AND RECREATION,Q1,448200.0,0.0,...,0.0,NaN,NaN,NYC DEPARTMENT OF PARKS AND RECREATION,Q1,448200.0,0.0,NaN,NaN,NYC DEPARTMENT OF PARKS AND RECREATION
41786,1022551031,U1,69717.0,0.0,,,NATIONAL RAILROAD ETA,U1,30525.0,0.0,...,0.0,NaN,NaN,NATIONAL RAILROAD ETAL,U1,30525.0,0.0,NaN,NaN,NATIONAL RAILROAD ETAL
41787,1022552000,Q1,11320000.0,0.0,,,PARKS AND RECREATION,Q1,11320000.0,0.0,...,0.0,NaN,NaN,TRUSTEE OF COLUMBIA UNIVERSITY NYC,Q1,11320000.0,0.0,NaN,NaN,TRUSTEE OF COLUMBIA UNIVERSITY NYC

In [52]:
#filter for any bbl with a bldgclass that starts with any for any year
years = [10,11,12,13,14,15,16,17,18,19,20]
bldgclass = [f'{year}_bldgclass' for year in years]

m = merged[merged[bldgclass].apply(lambda x: x.str.startswith('M')).any(axis = 1)]

# merged["14"].str.startswith('M') | 
# merged["15"].str.startswith('M') |

In [53]:
m # 987

,bbl,10_bldgclass,10_lotarea,10_bldgarea,10_histdist,10_landmark,10_ownername,11_bldgclass,11_lotarea,11_bldgarea,...,19_bldgarea,19_histdist,19_landmark,19_ownername,20_bldgclass,20_lotarea,20_bldgarea,20_histdist,20_landmark,20_ownername
30,1000090007,M1,6037.0,8685.0,,JAMES WATSON HOUSE,SAVANNAH TEACHERS PRO,M1,6037.0,8685.0,...,8685.0,NaN,INDIVIDUAL LANDMARK,THE MISSION OF OUR LADY OF ROSARY OF THE CITY OF,M1,6037.0,8685.0,NaN,INDIVIDUAL LANDMARK,THE MISSION OF OUR LADY OF ROSARY OF THE CITY OF
211,1000410022,M1,6003.0,24000.0,,,CH OUR LADY VICTORY,M1,6003.0,24000.0,...,24000.0,NaN,NaN,CH OUR LADY VICTORY,M1,6003.0,24000.0,NaN,NaN,CH OUR LADY VICTORY
231,1000490001,M1,98432.0,15928.0,,TRINITY CHURCH AND GRAVEYARD,PARISH OF TRINITY CHR,M1,98432.0,15928.0,...,15928.0,NaN,INDIVIDUAL LANDMARK,PARISH OF TRINITY CHRH,M1,98432.0,15928.0,NaN,INDIVIDUAL LANDMARK,PARISH OF TRINITY CHRH
263,1000540001,O4,66222.0,1415086.0,,,LOWER MANHATTAN DEVE,O4,66222.0,72600.0,...,6400.0,NaN,NaN,LOWER MANHATTAN DEVE,O2,33148.0,6400.0,NaN,NaN,LOWER MANHATTAN DEVE
314,1000670030,M1,3423.0,3144.0,,JOHN STREET METHODIST CHURCH,BBV US REAL ESTATE FU,M1,3423.0,3144.0,...,3144.0,NaN,INDIVIDUAL LANDMARK,JOHN STREET UNITED METHODIST CHURCH,M1,3423.0,3144.0,NaN,INDIVIDUAL LANDMARK,JOHN STREET UNITED METHODIST CHURCH
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41471,1022260041,M9,21250.0,20248.0,,,NYC SCHOOL CONSTRUCTI,W1,21250.0,82200.0,...,82200.0,NaN,NaN,NYC SCHOOL CONSTRCTION AUTHORTY,W1,21250.0,82200.0,NaN,NaN,NYC SCHOOL CONSTRCTION AUTHORTY
41575,1022370018,M1,30120.0,11072.0,,,HOLY TRINITY CH OF N,M1,30120.0,11072.0,...,11072.0,NaN,NaN,THE BOARD OF MANAGERS OF THE DIOCESAN MI SSION...,M1,8562.0,6090.0,NaN,NaN,THE BOARD OF MANAGERS OF THE DIOCESAN MI SSION...
41650,1022420051,M1,31675.0,21791.0,,,RC CH GOOD SHEPHERD,M1,31675.0,21791.0,...,21791.0,NaN,NaN,RC CH GOOD SHEPHERD,M1,31675.0,21791.0,NaN,NaN,RC CH GOOD SHEPHERD
41711,1022430384,M1,3300.0,3450.0,,,R C CH GOOD SHEPHERD,M1,3300.0,3450.0,...,4032.0,Park Terrace West-West 217th Street Historic D...,NaN,"DAVIDSON, DAVID M",B1,3300.0,4032.0,Park Terrace West-West 217th Street Historic D...,NaN,"DAVIDSON, DAVID M"
41732,1022460115,M9,17375.0,13000.0,,,CORP/PRESIDING BISHOP,M9,17375.0,13000.0,...,13000.0,NaN,NaN,CORPORATION OF THE PRESIDING BISHOP,M9,17375.0,13000.0,NaN,NaN,CORPORATION OF THE PRESIDING BISHOP

In [3]:
pluto = pd.read_csv('./data/20v1.csv')
mn_pluto = pluto[pluto["borough"] == "MN"][["bbl","cd","council","address","xcoord","ycoord"]].copy()

/home/steve/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (17,18,20,22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [55]:
m2 = pd.merge(m, mn_pluto, on = "bbl")

In [56]:
m2.to_csv("./processed_data/filtered_m.csv", index = False)