In [1]:
import pandas as pd

In [4]:
years = [10,11,12,13,14,15,16,17,18,19,20]

datasets = {}

#format all columns in a standard year, col
for year in years:
    df = pd.read_csv(f'./processed_data/{year}.csv')
    df = df.rename(str.lower, axis='columns')
    
    year_str = str(year)
    renameCols = {}
    for key in ["BldgClass","LotArea","BldgArea","HistDist","Landmark","OwnerName","Xcoord","Ycoord"]:
        renameCols[key.lower()] = f'{year_str}_{key.lower()}'
    df = df.rename(columns = renameCols)
    
    datasets[year] = df

In [5]:
datasets[20].tail()

,bbl,20_bldgclass,20_lotarea,20_bldgarea,20_histdist,20_landmark,20_ownername,20_xcoord,20_ycoord
42872,1016320001,D1,50457.0,124100.0,NaN,NaN,NYC HOUSING AUTHORITY,998648.0,227711.0
42873,1016230042,C0,1926.0,3864.0,NaN,NaN,ANTONIA MOCZO,1000014.0,230996.0
42874,1018850048,C5,2018.0,5800.0,NaN,NaN,TRUSTEES OF COLUMBIA UNIVERSITY,994350.0,232889.0
42875,1020230046,C0,2107.0,3705.0,St. Nicholas Historic District,NaN,"MARIUS, CHERYL",999843.0,237139.0
42876,1020590008,A9,1848.0,4192.0,Hamilton Heights Historic District,NaN,"HRDY, CATHERINE BELKNAP",998733.0,239420.0

In [6]:
merged = None
for i, year in enumerate(years):
    if i == 0:
        merged = datasets[year] #init
    else:
        merged = pd.merge(merged, datasets[year], on = "bbl", how = "outer")

In [7]:
merged

,bbl,10_bldgclass,10_lotarea,10_bldgarea,10_histdist,10_landmark,10_ownername,10_xcoord,10_ycoord,11_bldgclass,...,19_xcoord,19_ycoord,20_bldgclass,20_lotarea,20_bldgarea,20_histdist,20_landmark,20_ownername,20_xcoord,20_ycoord
0,1000010010,Y4,7736692.0,2725731.0,Governors Island,GOVERNORS ISLAND VARIOUS SITES,GOVERNORS ISLAND CORP,0978997,0190478,Y4,...,979071.0,190225.0,Y4,7736692.0,2725731.0,Governors Island Historic District,INDIVIDUAL LANDMARK,GOVERNORS ISLAND CORPORATION,979071.000000,190225.000000
1,1000010101,P7,541886.0,541886.0,,,U S GOVT LAND & BLDGS,0971739,0190585,P7,...,971677.0,190636.0,P7,541886.0,541886.0,NaN,INDIVIDUAL LANDMARK,U S GOVT LAND & BLDGS,971677.000000,190636.000000
2,1000010201,Z9,2764190.0,603130.0,Ellis Island,STATUE OF LIBERTY,U S GOVT LAND & BLDGS,0972792,0193655,Z9,...,972790.0,193648.0,Z9,2764190.0,603130.0,Ellis Island Historic District,INTERIOR LANDMARK,U S GOVT LAND & BLDGS,972790.000000,193648.000000
3,1000020001,Y7,445250.0,445250.0,,WHITEHALL FERRY TERMINAL,DEPT OF GENERAL SERVI,0980883,0194480,Y7,...,980670.0,194440.0,Y7,209215.0,280000.0,NaN,NaN,NYC DEPARTMENT OF SMALL BUSINESS SERVICES,980670.000000,194440.000000
4,1000020023,T2,510025.0,24346.0,,,DEPARTMENT OF BUSINES,0981723,0194725,T2,...,981687.0,194732.0,T2,510025.0,24346.0,NaN,NaN,NYC DEPARTMENT OF SMALL BUSINESS SERVICES,981687.000000,194732.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45357,1001501012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,R4,NaN,3670.0,NaN,NaN,NaN,NaN,NaN
45358,1001351926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,R4,NaN,2772.0,NaN,NaN,NaN,NaN,NaN
45359,1004750004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,K2,1247.0,2900.0,NaN,NaN,"WEST BROADWAY GLASS COMPANY, LLC",983316.743664,202522.057225
45360,1014361508,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,RB,NaN,6933.0,NaN,NaN,NaN,NaN,NaN
45361,1006957511,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,R0,7406.0,NaN,NaN,NaN,514 WEST 24TH OWNER LLC,982917.721210,212006.456641

In [8]:
#filter for any bbl with a bldgclass that starts with any for any year
years = [10,11,12,13,14,15,16,17,18,19,20]
bldgclass = [f'{year}_bldgclass' for year in years]

m = merged[merged[bldgclass].apply(lambda x: x.str.startswith('M')).any(axis = 1)]

# merged["14"].str.startswith('M') | 
# merged["15"].str.startswith('M') |

In [9]:
m # 1025

,bbl,10_bldgclass,10_lotarea,10_bldgarea,10_histdist,10_landmark,10_ownername,10_xcoord,10_ycoord,11_bldgclass,...,19_xcoord,19_ycoord,20_bldgclass,20_lotarea,20_bldgarea,20_histdist,20_landmark,20_ownername,20_xcoord,20_ycoord
30,1000090007,M1,6037.0,8685.0,,JAMES WATSON HOUSE,SAVANNAH TEACHERS PRO,0980452,0195261,M1,...,980457.0,195256.0,M1,6037.0,8685.0,NaN,INDIVIDUAL LANDMARK,THE MISSION OF OUR LADY OF ROSARY OF THE CITY OF,9.804570e+05,195256.000000
228,1000410022,M1,6003.0,24000.0,,,CH OUR LADY VICTORY,0981832,0196858,M1,...,981832.0,196858.0,M1,6003.0,24000.0,NaN,NaN,CH OUR LADY VICTORY,9.818320e+05,196858.000000
248,1000490001,M1,98432.0,15928.0,,TRINITY CHURCH AND GRAVEYARD,PARISH OF TRINITY CHR,0980911,0197275,M1,...,980907.0,197274.0,M1,98432.0,15928.0,NaN,INDIVIDUAL LANDMARK,PARISH OF TRINITY CHRH,9.809070e+05,197274.000000
282,1000540001,O4,66222.0,1415086.0,,,LOWER MANHATTAN DEVE,0980565,0197885,O4,...,980538.0,197809.0,O2,33148.0,6400.0,NaN,NaN,LOWER MANHATTAN DEVE,9.805380e+05,197809.000000
338,1000670030,M1,3423.0,3144.0,,JOHN STREET METHODIST CHURCH,BBV US REAL ESTATE FU,0981992,0197621,M1,...,981991.0,197619.0,M1,3423.0,3144.0,NaN,INDIVIDUAL LANDMARK,JOHN STREET UNITED METHODIST CHURCH,9.819910e+05,197619.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43861,1020940032,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,998173.0,240947.0,M9,3985.0,4200.0,NaN,NaN,THE TRUSTEES OF COLUMBIA UNIVERSITY IN T HE CI...,9.981730e+05,240947.000000
44073,1014360113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,994832.0,216685.0,I5,9917.0,59448.0,NaN,NaN,REDEMPTORIST FATHERS OF NEW YORK,9.948320e+05,216685.000000
44420,1019239052,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,M3,0.0,1.0,NaN,NaN,1871 PARK EQUITIES LLC,NaN,NaN
44499,1000540040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,980586.0,198006.0,M1,6083.0,4100.0,NaN,NaN,PORT AUTHORITY OF NY AND NJ,9.805860e+05,198006.000000
45322,1022370016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,M1,18053.0,4982.0,NaN,NaN,THE BOARD OF MANAGERS OF THE DIOCESAN MI SSION...,1.004490e+06,255023.829271

In [10]:
pluto = pd.read_csv('./data/20v1.csv')
mn_pluto = pluto[pluto["borough"] == "MN"][["bbl","cd","council","address","xcoord","ycoord"]].copy()

/home/steve/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (17,18,20,22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [13]:
m2 = pd.merge(m, mn_pluto, on = "bbl", how ="left")

In [14]:
m2.to_csv("./processed_data/filtered_m.csv", index = False)

In [15]:
m2

,bbl,10_bldgclass,10_lotarea,10_bldgarea,10_histdist,10_landmark,10_ownername,10_xcoord,10_ycoord,11_bldgclass,...,20_histdist,20_landmark,20_ownername,20_xcoord,20_ycoord,cd,council,address,xcoord,ycoord
0,1000090007,M1,6037.0,8685.0,,JAMES WATSON HOUSE,SAVANNAH TEACHERS PRO,0980452,0195261,M1,...,NaN,INDIVIDUAL LANDMARK,THE MISSION OF OUR LADY OF ROSARY OF THE CITY OF,9.804570e+05,195256.000000,101.0,1.0,7 STATE STREET,9.804570e+05,195256.000000
1,1000410022,M1,6003.0,24000.0,,,CH OUR LADY VICTORY,0981832,0196858,M1,...,NaN,NaN,CH OUR LADY VICTORY,9.818320e+05,196858.000000,101.0,1.0,56 WILLIAM STREET,9.818320e+05,196858.000000
2,1000490001,M1,98432.0,15928.0,,TRINITY CHURCH AND GRAVEYARD,PARISH OF TRINITY CHR,0980911,0197275,M1,...,NaN,INDIVIDUAL LANDMARK,PARISH OF TRINITY CHRH,9.809070e+05,197274.000000,101.0,1.0,75 BROADWAY,9.809070e+05,197274.000000
3,1000540001,O4,66222.0,1415086.0,,,LOWER MANHATTAN DEVE,0980565,0197885,O4,...,NaN,NaN,LOWER MANHATTAN DEVE,9.805380e+05,197809.000000,101.0,1.0,130 GREENWICH STREET,9.805380e+05,197809.000000
4,1000670030,M1,3423.0,3144.0,,JOHN STREET METHODIST CHURCH,BBV US REAL ESTATE FU,0981992,0197621,M1,...,NaN,INDIVIDUAL LANDMARK,JOHN STREET UNITED METHODIST CHURCH,9.819910e+05,197619.000000,101.0,1.0,44 JOHN STREET,9.819910e+05,197619.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1020,1020940032,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,THE TRUSTEES OF COLUMBIA UNIVERSITY IN T HE CI...,9.981730e+05,240947.000000,109.0,7.0,3581 BROADWAY,9.981730e+05,240947.000000
1021,1014360113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,REDEMPTORIST FATHERS OF NEW YORK,9.948320e+05,216685.000000,108.0,5.0,321 EAST 61 STREET,9.948320e+05,216685.000000
1022,1019239052,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1871 PARK EQUITIES LLC,NaN,NaN,110.0,9.0,WEST 118 STREET,NaN,NaN
1023,1000540040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,PORT AUTHORITY OF NY AND NJ,9.805860e+05,198006.000000,101.0,1.0,130 LIBERTY STREET,9.805860e+05,198006.000000
1024,1022370016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,THE BOARD OF MANAGERS OF THE DIOCESAN MI SSION...,1.004490e+06,255023.829271,112.0,10.0,CUMMING STREET,1.004490e+06,255023.829271